@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Display&display=swap');

html{
    scroll-behavior: smooth;
}


body{ 
    margin: 0;
    padding: 0;
    display: block;
    scroll-behavior: smooth;

}


.inicio{
    background-image: url(fundo.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.header {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 100%;
    height: 90px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    transition: 1s;
}


.navbar {
    display: flex;
    list-style: none;
    flex-direction: row;
    column-gap: 24px;
}

.navbar a{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 24px;
}


.nelogo{
    height: 60px;
}

.parte_baixo{   
    width: 100%;
    height: calc(96vh - 90px);
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8%
}

.slogan{
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    align-self: flex-start;
    margin-left: 12%;
}

.div_btn{
    display: flex;
    column-gap: 100px
}

.btn_inicio{
    background-color: rgba(240, 248, 255, 0);
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px #0282F8 solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}

.btn_inicio:hover{
    background-color:#0281f87c ;

}

.quem_somos {
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}

.titulo_qs{
    width:80vw;
    height: 28%;
    font-size: 46px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    align-items: flex-end;
    display: flex;
    margin-left: 10%;
}


.conteudo_qs{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;

}

.simulador {
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}

.vec_simulador{
    display: flex;
    justify-content: flex-end;
    
}

.header_simulador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 10%;
}

.titulo_simulador {

    font-size: 46px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    
}

.conteudo_simulador {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
}

.texto_simulador {
    display: flex;
    flex-direction: column;
    
}

.btn_simulador{ 
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px #0282F8 solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    align-self: center;
    margin-top: 10%;
    
}

.btn_simulador:hover{
    background-color:#0281f87c ;

}

.valores {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.titulos_pg {

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 79px;
    text-align: center;

    color: #000000;
}

.conteudo_vl {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #363636;
}

.confianca {
    width: 300px;
    height: 415px;
    float: left;

    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
}

.inovacao {
    width: 300px;
    height: 415px;
    float: left;
    

    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
}

.paixao {
    width: 300px;
    height: 415px;
    float: right;
    

    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
}

.div_img_valor {
    width: 270px;
    height: 200px;
    left: 71px;
    margin: 13px;

    background: #F2F2F2;
    border-radius: 40px;
}

.imagens_valor {
    width: 200px;
    height: 180px;
}

#imagem_paixao {
    width: 250px;
}

#imagem_inovacao {
    margin-top: 10px;
}

.titulo_valor {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-size: 27px;
    line-height: 42px;
    text-align: center;
}

.conteudo_valor {
    width: 260px;
    height: 90px;

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-left: 20px;
}

.forma_Azul {
    width: 100px;
    height: 28px;
    float: left;
    margin-top: 18px;
    margin-left: 30px;

    background: #0282F8;
    border-radius: 40px;
}

.palavra_forma_Azul {
    text-align: center;
    font-family: 'Red Hat Display';
    margin-top: 3px;
    color: #fff;
    font-size: 12px;
}

.equipe {
    max-height: 150vh;
    height: 150vh;
    width: 100%;
    text-align: center;
}

.div_cabecalho_equipe {
    height: 250vh;
    width: 100%;
    margin: 0px;
}

.div_fundo_equipe {
    background-image:url(fundo_equipe.png);
    background-size: cover;
    height: 30%;
    width: 100%;
}

.container_valores {
    display: flex;
    justify-content: space-around;
    
}

#div_titulo_equipe {
    color: white;
}

#conteudo_equipe {
    margin-top: 5%;
    color: white;
    font-size: 23px;
}

.palavra_Equipe {
    justify-content: center;
}

.div_cabecalho_equipe .forma_Azul {
    width: 250px;
    height: 50px;
    color: white;
}

.container_equipe {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.container_Fotos {
    height: 5vh;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}
.container_Fotos2 {
    height: 5vh;
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
}

.equipe_fotos {
    width: 260px;
    height: 350px;

    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.contate_Nos {
    margin-top: 55%;
    background-image: url(Fundo_Contatinos.png);
    background-size: cover;
    height: 150vh;
    width: 100%;
}

.titulo_Contatenos {
    width: 551.41px;
    height: 69px;
    margin-left: 8%;

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 79px;
    text-align: center;

    color: #000000;
}

.subtitulo_Contatenos {
    background-image: url(Empresa.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 41px;
    margin-left: 64%;
    margin-top: 9%;
}

.ul_imagens_link{
    width: 180px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.azulado {
    width: 35px;
    height: 35px;
    background-color: #0281f89d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}