@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Display&display=swap');

html{
    scroll-behavior: smooth;
}


body{ 
    margin: 0;
    padding: 0;
    display: block;
    scroll-behavior: smooth;

}


.inicio{
    background-image: url(fundo.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.header {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 100%;
    height: 90px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    transition: 1s;
}


.navbar {
    display: flex;
    list-style: none;
    flex-direction: row;
    column-gap: 24px;
    
}

.navbar a{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 24px;
}


.nelogo{
    height: 60px;
}

.parte_baixo{   
    width: 100%;
    height: calc(96vh - 90px);
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8%
}

.slogan{
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    align-self: flex-start;
    margin-left: 12%;
}

.div_btn{
    display: flex;
    column-gap: 100px
}

.btn_inicio{
    background-color: rgba(240, 248, 255, 0);
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px #0282F8 solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}

.btn_inicio:hover{
    background-color:#0281f87c ;

}

.quem_somos {
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}

.titulo_qs{
    width:80vw;
    height: 28%;
    font-size: 46px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    align-items: flex-end;
    display: flex;
    margin-left: 10%;
}


.conteudo_qs{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;

}

.simulador {
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}

.vec_simulador{
    display: flex;
    justify-content: flex-end;
    
}

.header_simulador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 10%;
}

.titulo_simulador {

    font-size: 46px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    
}

.conteudo_simulador {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
}

.texto_simulador {
    display: flex;
    flex-direction: column;
    
}

.btn_simulador{ 
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px #0282F8 solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    align-self: center;
    margin-top: 10%;
    
}

.btn_simulador:hover{
    background-color:#0281f87c ;

}