body{
  margin: 0;
  display: flex;
  background-color:#b9d4eeda;
  color: #ffffff;

}


.main{
  height:99vh;
  width:25%;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  margin-left: 0.3%;
  margin-top: 0.3%;
  background: white;
  float: left;
  border-radius: 14px;
  align-items: center;
  text-align: center;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  
}

.div_novo_usuario{
  background-color: rebeccapurple;
  display: flex;
  margin-bottom: 10%;
}

.iconeNE{
  width: 50%;
  height:20%;
}


.bemvindo{
  font-size: 20px;
  color:black;
  font-weight: bold;
  font-family: Red Hat Display;
}


.botoes{
  font-family: 'Red Hat Display', sans-serif;
    background: #0282f8;
    border: 3px solid #0282f8;
    box-sizing: border-box;
    border-radius: 40px;
    width: 45%;
    height: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}


.botoes:hover {
  transition: 0.8s;
  width: 40%;
  background: #ffffff;
  color: #0282f8;
}

.btn-chart {

  font-family: 'Red Hat Display', sans-serif;
  background: #0282f8;
  border: 3px solid #0282f8;
  box-sizing: border-box;
  border-radius: 10px;
  width: 13%;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;

  font-size: 18px;
  color: white;
  margin: 5px;
}

.btn-chart:hover{
  transition: 0.8s;
  width: 15%;
  background: #ffffff;
  color: #0282f8;
}


.dash {
  width: 75%;
  position: relative;
  top: 0;
  border-radius: 20px;
  height: 100vh;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  color: black;
}

.perigo {
  background-color: #df120bd2;
  border: 2px solid #f32922;
}

.alerta {
  background-color: #f8e329f8;
  border: 2px solid #f8e329;
}

.ideal {
  background-color: #1cb807e0;
  border: 2px solid #1cb807;
}

.externo {
  background-color: rgb(61, 168, 182);
  border: 2px solid rgb(192, 192, 192);
}

.item-regua {
  padding: 5px;
  width: 11%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

}

.status{
  margin:0;
}

.temp_externa{
  margin: 0;
  margin-top: 3%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: black;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  font-size: 20px;
  border-radius: 15px;
  color: black;
  background-color: white;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

#local_1 {
  background-color: #df120bd2;
}
#local_2 {
  background-color: #1cb807e0;
}
#local_3 {
  background-color: #1cb807e7;
}
#local_4 {
  background-color: #f8e329f8;
}




.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid black 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  height:80%
}


