@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Display&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}


.recover1{
    background-image: url(img/login/ImagemDeFundo.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: linear-gradient(108.67deg, rgba(255, 255, 255, 0.4) 2.17%, rgba(255, 255, 255, 0.20) 101.22%);
    backdrop-filter: blur(50px);
    border-radius: 40px;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: bold;
}

.header {
    width: 96%;
    height: 20%;
    align-items: center;
    display: flex;
    font-size: 2em;
    margin-left: 10%;
    margin-bottom: 5%;
}

h1{
    font-size: 20px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.user {
    height: 55px;
    margin-left: 5%;
}

.header b {
    margin-left: 20px;
}

.header span {
    font-size: 40px;


}

.img_logo {
    margin-left: 20%;
    height: 50px;

}


.img_p {
    height: 30px;
    margin-top: 1%;
    margin-left: 1%;
}





.div2 {
    height: 55%;
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div2 img {
    height: 35px;
}

.div2 label {
    font-size: 26px;
    margin-left: 1%;
}

form input {
    background: linear-gradient(108.67deg, rgba(255, 255, 255, 0.4) 2.17%, rgba(255, 255, 255, 0.20) 101.22%);
    backdrop-filter: blur(50px);
    outline: 2px solid #000000;
    border: 0;
    padding: 8px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}



button {
    margin-left: 35%;
    background-color: #000000c2;
    color: white;
    border-radius: 19px;
    padding: 15px;
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    transition: 0.5s;
    margin-top: 16px;
    margin-bottom: 10px;

}

button:hover {
    background-color: #0282F8;
    transition: 1s;
    width: 24%;
    margin-left: 40%;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: black;
    margin-left: 2px;
}

.msg-cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "nunito";
    font-size: 1em;
    margin-bottom: 5px;
    color: #252525;

}

.esquecer_senha a{
    text-decoration: none;
    color: black;
    margin-left: 140px;
    font-size: 17px;
    color: #055baa;

}