@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Display&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    display: block;
    scroll-behavior: smooth;

}


/* Tela inicial e Header */
.inicio {
    background-image: url(img/site/fundo.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.header {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 100%;
    height: 90px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: 1s;
}



.navbar {
    display: flex;
    list-style: none;
    flex-direction: row;
    column-gap: 24px;
}

h1 a {
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 38px;
    transition: 0.8s;
}

h1 a:hover {
    font-size: 45px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 24px;
    transition: 0.8s;
}

.navbar a:hover {
    font-size: 28px;
}

.nelogo {
    height: 60px;
}



.parte_baixo {
    width: 100%;
    height: calc(96vh - 90px);
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8%
}

.slogan {
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    align-self: flex-start;
    margin-left: 11%;
    font-weight: 600;
}

.div_btn {
    display: flex;
    column-gap: 100px;
   
}

.btn_inicio {
    background-color: rgba(240, 248, 255, 0);
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px #0282F8 solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}

.btn_inicio:hover {
    background-color: #0281f87c;

}

.help_desk {
    height: 70px;
    width: 70px;
    background-color: #082e52;
    border-radius: 50%;
    position: absolute;
    margin-left: 60%;
    margin-top: 5%;
    position: fixed;
    z-index: 2;
    background-image: url(img/icone_help_desk-removebg-preview.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: solid #0282F8 2px;
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1);
   

}

.help_desk:hover{
    transform: scale(1.20,1.20);
    transition: all 0.3s;
}





/* Tela Quem Somos */
.quem_somos {
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}

.titulo_qs {
    width: 80vw;
    height: 28%;
    font-size: 46px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    align-items: flex-end;
    display: flex;
    margin-left: 10%;
}


.conteudo_qs {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;

}




/* Tela Simulador Financeiro */
.simulador {
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}

.vec_simulador {
    display: flex;
    justify-content: flex-end;

}

.header_simulador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 10%;
}

.titulo_simulador {

    font-size: 46px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;

}

.conteudo_simulador {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
}

.texto_simulador {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 6%;
}

.btn {
    color: black;

    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px #0282F8 solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    align-self: center;
    margin-top: 10%;

}

.btn:hover {
    background-color: #0281f87c;

}

/* Tela Produtividade*/

/* Tela Nossos Serviços */
.nossos_servicos {
    height: 150vh;
    width: 100%;

}

.vec1_servicos {
    position: absolute;
    z-index: -1;
    right: 0;
    height: 100vh;
}

.vec2_servicos {
    position: absolute;
    margin-top: 45%;
    z-index: -1;
    height: 60vh;
}

.lampada {
    position: absolute;
    right: 25px;
    bottom: 25px;
    height: 50px;
}

.titulo_servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.titulo_servicos b {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 46px;
}

.titulo_servicos span {
    font-size: 24px;
    font-family: 'Red Hat Display', sans-serif;
}




.produtividade {
    width: 70%;
    height: 35%;
    margin-left: 15%;
    border: 2px #dddddd solid;
    border-radius: 16px;
    position: relative;
}

.img_produtividade {
    float: left;
    width: 40%;
    background-color: #F2F2F2;
    border: 2px #F2F2F2 solid;
    border-radius: 16px;
    height: 100%;
}

.txt_produtividade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.txt_produtividade b {
    font-size: 44px;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.txt_produtividade span {
    font-size: 22px;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 10%;
}


.ambiente {
    width: 70%;
    height: 35%;
    margin-left: 15%;
    border: 2px #dddddd solid;
    border-radius: 16px;
    margin-top: 8%;
    position: relative;

}

.agenda {
    position: absolute;
    right: 25px;
    bottom: 25px;
    height: 50px;
}

.img_ambiente {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #F2F2F2;
    border: 2px #F2F2F2 solid;
    border-radius: 16px;
}

.txt_ambiente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.txt_ambiente b {
    font-size: 44px;
    font-family: 'Red Hat Display', sans-serif;


}


.txt_ambiente span {
    font-size: 22px;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 10%;
}





/* Tela Valores Da Empresa*/
.valores {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.titulos_pg {

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 79px;
    text-align: center;

    color: #000000;
}

.conteudo_vl {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    text-align: center;

    color: #363636;
}

.confianca {
    width: 300px;
    height: 415px;
    float: left;

    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
}

.inovacao {
    width: 300px;
    height: 415px;
    float: left;


    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
}

.paixao {
    width: 300px;
    height: 415px;
    float: right;


    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
}

.div_img_valor {
    width: 270px;
    height: 200px;
    left: 71px;
    margin: 13px;

    background: #F2F2F2;
    border-radius: 40px;
}

.imagens_valor {
    width: 200px;
    height: 180px;
}

#imagem_paixao {
    width: 250px;
}

#imagem_inovacao {
    margin-top: 10px;
}

.titulo_valor {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-size: 27px;
    line-height: 42px;
    text-align: center;
}

.conteudo_valor {
    width: 260px;
    height: 90px;

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-left: 20px;
}

.forma_Azul {
    width: 100px;
    height: 28px;
    float: left;
    margin-top: 18px;
    margin-left: 30px;

    background: #0282F8;
    border-radius: 40px;
}

.palavra_forma_Azul {
    text-align: center;
    font-family: 'Red Hat Display';
    margin-top: 3px;
    color: #fff;
    font-size: 12px;
}




/* Tela Equipe */
.equipe {
    max-height: 150vh;
    height: 150vh;
    width: 100%;
    text-align: center;
}

.div_cabecalho_equipe {
    height: 250vh;
    width: 100%;
    margin: 0px;
}

.div_fundo_equipe {
    background-image: url(img/site/fundo_equipe.png);
    background-size: cover;
    height: 30%;
    width: 100%;
}

.container_valores {
    display: flex;
    justify-content: space-around;

}

#div_titulo_equipe {
    color: white;
}

#conteudo_equipe {
    margin-top: 5%;
    color: white;
    font-size: 23px;
}

.palavra_Equipe {
    justify-content: center;
    font-size: 26px;
}

.div_cabecalho_equipe .forma_Azul {
    width: 250px;
    height: 50px;
    color: white;
}

.container_equipe {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.container_Fotos {
    height: 5vh;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}

.imagens_equipe {
    height: 180px;
    border-radius: 45%;
}

.container_Fotos2 {
    height: 5vh;
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
}

#Gêrencia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.equipe_fotos {
    width: 260px;
    height: 350px;

    background: #FFFFFF;
    border: 2px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.ul_imagens_link {
    width: 180px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.azulado {
    width: 35px;
    height: 35px;
    background-color: #0281f89d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Contate nos */

.contate_Nos {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 120vh;

    background-repeat: no-repeat;
    background-image: url(img/cadastro/cadastro_fundo.png);
    scroll-behavior: smooth;
    font-family: 'Red Hat Display', sans-serif;
    justify-content: center;
    align-items: center;
}

.caixa_branca {
    background: linear-gradient(108.67deg, rgba(255, 255, 255, 0.4) 2.17%, rgba(255, 255, 255, 0.20) 101.22%);
    backdrop-filter: blur(50px);
    border-radius: 40px;
    height: 95vh;
    width: 85vw;
    border-radius: 25px;
}

.header_contate {
    width: 100%;
    height: 15%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 60px;
}

.div_new_contate {
    display: flex;
    flex-direction: row;
}

.titulo_contate {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.img_logo_contate {
    height: 50px;
}

.img_p_contate {
    height: 50px;
}

.informacoes_contate {
    height: 35%;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}


.input_esquerda_contate,
.input_direita_contate {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.div_meio_mensagem {
    height: 25%;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.inputs_contate {
    padding: 8px;
    border-color: #252525;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.div_mensagem_contate {
    display: flex;
    width: 80%;
    height: 80%;
}


.div_nome_contate,
.div_email_contate,
.div_nome_empresa_contate,
.div_cidade_contate,
.div_cnpj_contate {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.div_esquerda_contate {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.input_esquerda_contate img {
    height: 30px;
}

.input_direita_contate img {
    height: 30px;
}

.mostrar_mensagem {
    background-color: #e0e0e0e8;
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}

.caixa_branca button {
    background-color: #000000c2;
    color: white;
    border-radius: 19px;
    padding: 15px;
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    transition: 0.5s;
}

.header_contate a {
    text-decoration: none;
    color: white;
}

.caixa_branca button:hover {
    background-color: #0282F8;
    transition: 1s;
    width: 25%;
}

.div_button_contate {
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
}

.div_button_contate button {
    display: flex;
    justify-content: center;
}




/* Final */

.final {
    max-height: 40vh;
    height: 40vh;
    width: 100%;
    padding-top: 60%;
}

.coluna_preta2 {
    background-color: black;
    height: 100%;
    display: flex;
}

.imagem_preta {
    height: 100%;
    margin-left: 3%;
    margin-top: 1%;
}

.coluna_preta ul {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 2%;
}

.titulos_final {
    font-size: 30px;
    list-style: none;
    font-weight: bold;
}

.juridico_final {
    margin-bottom: 5.5%;
}

.footer_final {
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
}